<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/vuelos/insertar}" th:object="${vueloDTO}" th:method="GET">
		<table>
			<tr>
				<td><label>Origen</label></td>
				<td><input type="text" id="fecha" th:field="${vueloDTO.origen}"></td>
			</tr>
			<tr>
				<td><label>Destino</label></td>
				<td><input type="text" id="valor" th:field="${vueloDTO.destino}"></td>
			</tr>
			<tr>
				<td><label>Fecha</label></td>
				<td><input type="text" id="valor" th:field="${vueloDTO.fecha}"></td>
			</tr>
		</table>
		<input type="submit" value="Buscar">
	</form>
</body>
</html>